<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :customer_surname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :customer_nickname %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :customer_password %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.date_select :fecha_nacimiento, id: :customer_fecha_nacimiento,start_year: Date.today.year, end_year: Date.today.year - 110  %>
  </div>

  <div class="field">
    <%= form.label :premium %>
    <%= form.check_box :premium, id: :customer_premium %>
  </div>

  <div class="field">
    <%= form.label :num_of_devices %>
    <%= form.number_field :num_of_devices, id: :customer_num_of_devices %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
